body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', serif;
  font-size: 22px;
  background-color: black;
  opacity: 0.9
  color: seashell
}

/** Header CSS **/
#logo {
  padding-left: 10px;
  height: 50px;
  align-self: center;
}

.Navigation-Container {
  background-color: black;
  border-bottom: 1px #ffffff solid;
  height: 69px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  flex-wrap: wrap;
}

.nav {
  list-style: none;
  text-align: right;
  padding:  0 10px 0 0;
}

.nav li {
  display: inline-block;
  padding: 0 10px 0 10px;
}

.nav li a {
  text-decoration: underline;
  color: seashell;
}

/** Body CSS **/
.Body-Container {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**MISSION**/
.mission {
  height: 769px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission-text-container {
  color: seashell;
  background-color: black;
  width: 1200px;
  height: 110px;
}

.mission-text-container h2,
.mission-text-container h4 {
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

/**TEA OF THE MONTH**/
.Heading-Text {
  text-align: center;
}

.Tea-Month {
  position: relative;
  width: 1000px;
  height: auto;
  padding-top: 50px;
  flex-wrap: wrap;
}

.box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.Tea-Month h2,
.Tea-Month h4 {
  color: seashell;
}

.picture-row {
  height: 200px;
  width: 300px;
}

.box {
  padding: 0 15px 0 15px;
}

.box h4 {
  text-align: center;
}

/** LOCATIONS **/
.locations {
  padding-top: 50px;
}

.locations-container {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  padding-bottom: 70px;
  background-repeat: no-repeat;
  position: relative;
  height: 500px;
  width: 1200px;
}

.locations-container h2 {
  color: seashell;
  text-align: center;
  padding-top: 80px;
  overflow: hidden;
}
